.UI_HUD {
    transition: all 0.5s ease-in-out;
    display: flex;
    bottom: 0;
    margin: 25px 30px;
    position: absolute;
    height: fit-content;
    gap: 5px;

    &.UI_Hud__vehicle {
        margin-left: auto;
        right: 0;
    }
}

.UI_Hud_ProgressBar {
    display: flex;
    column-gap: 5%;
    width: 60px;
    background-color: rgba($color: #102027, $alpha: 0.85);
    padding: 5px;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-in-out;
    
    .material-icons {
        position: absolute;
    }

    svg {
        opacity: 0;
        animation: test 0.25s ease-in-out;
        animation-fill-mode: forwards;
    }

    &.circle {
        border-radius: 50%;
    }
}

@keyframes test {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.UI_SPEEDOMETER {
    position: absolute;
    bottom: 21%;
    left: 4%;

    .segment-value {
        // fill: white !important;
        font-size: 12px !important;
    }
}
