{
  "DeveloperMode": true,
  "Discord": {
    "DiscordInvite": "https://discord.gg/SomeCoolAssDiscord",
    "Discordtoken": "",
    "GuildID": "",
    "WhitelistRole": ""
  },
  "Database": {
    "connect": "mongodb://localhost:27017/Rebirth"
  }
}
