{
  "DeveloperMode": true,
  "Discord": {
    "Invite": "https://discord.gg/SomeCoolAssDiscord",
    "Token": "",
    "GuildID": "",
    "WhiteListRoleID": ""
  },
  "mongoDB": "mongodb://localhost:27017/Rebirth"
}
